body {
  background-color: rgb(234, 161, 66);
}
/*font-family: 'Poppins', sans-serif;
'Rubik', sans-serif;*/

h1,
h2 {
  text-align: center;
  font: "Rubik", sans-serif;
  font-weight: normal;
  color: rgb(66, 63, 63);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 20px;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: smaller;
  text-align: justify;
  padding: 10px;
  color: rgb(143, 97, 18);
}
.container {
  padding: 20px;
  margin-top: 100px;
}
.logo {
  max-width: 35px;
  margin: none;
  padding: none;
}
.navbar-grey {
  background-color: rgba(143, 97, 18, 0.46);
}

footer {
  text-align: center;
  font-size: 10px;
  margin-top: 50px;
  padding: 40px;
}
